body {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 16px;
	line-height: 16px;
}

li p {
	font-size:11px;
	line-height:16px;
}

code {font:11px/16px Arial, Tahoma, Verdana, sans-serif;}

h1 {font:30px/32px "Headland One", Georgia, Times, "Century Schoolbook L", serif;}

h2,
.sitemap > li > a {font:24px/32px "Headland One", Georgia, Times, "Century Schoolbook L", serif;}

h3,
.article_comments a.cmsms_comments span,
.sitemap > li > ul > li > a,
.hover_effect .entry-title {font:18px/24px "Headland One", Georgia, Times, "Century Schoolbook L", serif;}

h4 {font:italic 18px/24px "Droid Serif", Georgia, Times, "Century Schoolbook L", serif;}

h5 {font:italic 14px/24px "Droid Serif", Georgia, Times, "Century Schoolbook L", serif;}

h6,
.table th,
.table tfoot td,
.cmsms_share,
.comment-body .published,
.comment-edit-link,
.comment-reply-link,
.button_reply,
#commentform label,
.post footer,
.opened-article footer.entry-meta,
.post_type_shortcode footer,
.tog,
.tabs li a,
.tour > li a,
.pricing_table li,
.about_social,
.skill_text,
.widget_links ul li,
ul.p_filter li a,
.post_category,
.cmsms_copy,
.sitemap ul ul a,
.cms_archive,
.cms_category {
	font:bold 10px/16px Arial, Tahoma, Verdana, sans-serif;
	text-transform:uppercase;
}

input, 
textarea,
select {font:11px/16px Arial, Tahoma, Verdana, sans-serif;}

label,
span.db {
	font:bold 10px/16px Arial, Tahoma, Verdana, sans-serif;
	text-transform:uppercase;
}

small, 
abbr {font:11px/16px Arial, Tahoma, Verdana, sans-serif;}

blockquote, 
q {font:italic 14px/24px "Droid Serif", Georgia, Times, "Century Schoolbook L", serif;}

q:before, blockquote:before {font-family:"Droid Serif", Georgia, Times, "Century Schoolbook L", serif;}

.dropcap,
.dropcap2 {font-family: "Headland One", Georgia, Times, "Century Schoolbook L", serif;}

#navigation li a {font:bold 10px/16px Arial,Tahoma,Verdana,sans-serif;}

#footer {font-size:11px;}

/* Colors */

/* ---------------------------------------------- Content Color */

body,
/* .skill_text span {color:#000000;} */
.skill_text span {color:#aaaaaa;}

input, 
textarea,
select,
label,
.cmsms-form-builder .color_3,
span.db {color:#ffffff;} 


/* ---------------------------------------------- Navigation Color */

#navigation > li > a {color:#767676;}

#navigation > li:hover > a,
#navigation > li > a:hover,
#navigation > li.drop.current_page_item > a:hover,
#navigation > li.drop.current_page_item:hover > a,
#navigation ul li.current_page_item > a,
#navigation ul li a:hover,
#navigation > li.drop > a:hover,
#navigation ul li:hover > a {color:#1a1a1a;}

#navigation ul li.current_page_item > a,
#navigation ul li a:hover,
#navigation ul li:hover > a {background-color:#f2f2f2;}

#navigation ul li a {color:#a3a3a3;}

#navigation > li.current_page_item > a,
#navigation > li > a:hover {color:#ffffff;}

#navigation > li.drop > a:hover,
#navigation ul,
#navigation > li.drop:hover > a {background-color:#ffffff;}

/* ---------------------------------------------- Headings Colors */

h1, 
h2,
h3,
h4,
h5,
h6 {color:#ffffff;}

.color_2, 
q:before, 
blockquote:before, 
q, 
blockquote,
.opened-article .portfolio .entry-content,
.hover_effect .entry-title {color:#ffffff;}

.dropcap,
.dropcap2 {color:#ffffff;}

/* ---------------------------------------------- Links Colors */

a, 
.color_3,
.post .published,
.skill_text,
.headline table h6,
.hover_effect .post_category {color:#808080;}

h1 a:hover,
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {color:#b5b5b5;}

a:hover,
h1 a,
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a,
.cmsms_share.active {color:#ffffff;}

/* ---------------------------------------------- Footer Colors */

#footer,
#footer a {color:#484d4f;}



@media only screen and (max-width: 767px) {

	#navigation ul li a,
	#navigation > li > a,
	#navigation > li.current_page_item > a, 
	#navigation > li > a:hover {color:#000000;}
	
	#navigation > li.current_page_item > a,
	#navigation li a:hover,
	#navigation > li.drop > a:hover,
	#navigation > li.drop:hover > a{background-color:#f2f2f2;}
	
}



body.cmsms_white,
.cmsms_white .skill_text span {color:#000000;}

.cmsms_white .cont_nav *,
.cmsms_white .cont_nav,
.cmsms_white .cont_nav a:hover {color:#ffffff;}

.cmsms_white input, 
.cmsms_white textarea,
.cmsms_white select,
.cmsms_white label,
.cmsms_white .cmsms-form-builder .color_3,
.cmsms_white span.db {color:#000000;}

/* ---------------------------------------------- Navigation Color */

.cmsms_white #navigation > li > a {color:#767676;}

.cmsms_white #navigation > li:hover > a,
.cmsms_white #navigation > li > a:hover,
.cmsms_white #navigation > li.drop.current_page_item > a:hover,
.cmsms_white #navigation > li.drop.current_page_item:hover > a,
.cmsms_white #navigation ul li.current_page_item > a,
.cmsms_white #navigation ul li a:hover,
.cmsms_white #navigation > li.drop > a:hover,
.cmsms_white #navigation ul li:hover > a {color:#ffffff;}

.cmsms_white #navigation ul li.current_page_item > a,
.cmsms_white #navigation ul li a:hover,
.cmsms_white #navigation ul li:hover > a {background-color:#5c5c5c;}

.cmsms_white #navigation ul li a {color:#b3b3b3;}

.cmsms_white #navigation > li.current_page_item > a,
.cmsms_white #navigation > li > a:hover {color:#000000;}

.cmsms_white #navigation > li.drop > a:hover,
.cmsms_white #navigation ul,
.cmsms_white #navigation > li.drop:hover > a {background-color:#171615;}



.cmsms_white h1, 
.cmsms_white h2,
.cmsms_white h3,
.cmsms_white h4,
.cmsms_white h5,
.cmsms_white h6,
.cmsms_white .opened-article .portfolio .entry-content {color:#000000;}

.cmsms_white .color_2, 
.cmsms_white q:before, 
.cmsms_white blockquote:before, 
.cmsms_white q, 
.cmsms_white blockquote{color:#000000;}

.cmsms_white .dropcap {color:#000000;}

/* ---------------------------------------------- Links Colors */

.cmsms_white a, 
.cmsms_white .color_3,
.cmsms_white .post .published,
.cmsms_white .skill_text,
.cmsms_white .headline table h6,
.cmsms_white .hover_effect .entry-title a:hover,
.cmsms_white .sitemap > li > a, 
.cmsms_white .sitemap > li > ul > li > a,
.cmsms_white.cmsms_splash .cont_nav *, 
.cmsms_white.cmsms_splash .cont_nav, 
.cmsms_white.cmsms_splash .cont_nav a:hover {color:#707070;}

.cmsms_white a:hover,
.cmsms_white h1 a:hover,
.cmsms_white h2 a:hover, 
.cmsms_white h3 a:hover, 
.cmsms_white h4 a:hover, 
.cmsms_white h5 a:hover, 
.cmsms_white h6 a:hover,
.cmsms_white .sitemap > li > a:hover, 
.cmsms_white .sitemap > li > ul > li > a:hover,
.cmsms_white .cmsms_share.active {color:#000000;}

.cmsms_white h1 a,
.cmsms_white h2 a, 
.cmsms_white h3 a, 
.cmsms_white h4 a, 
.cmsms_white h5 a, 
.cmsms_white h6 a {color:#707070;}



.cmsms_white #footer,
.cmsms_white #footer a {color:#484d4f;}



@media only screen and (max-width: 767px) {

	.cmsms_white #navigation li.current_page_item > a,
	.cmsms_white #navigation li.current_page_item > a:hover,
	.cmsms_white #navigation li:hover > a,
	.cmsms_white #navigation li a:hover,
	.cmsms_white #navigation ul li a:hover {color:#ffffff;}
	
	.cmsms_white #navigation li > a,
	.cmsms_white #navigation ul li a {color:#b3b3b3;}
	
	.cmsms_white #navigation > li.current_page_item > a,
	.cmsms_white #navigation li a:hover,
	.cmsms_white #navigation > li.drop > a:hover,
	.cmsms_white #navigation > li.drop:hover > a {background-color:#5c5c5c;}

	.cmsms_white #navigation li:hover,
	.cmsms_white #navigation ul {
		background-color:transparent;
	}
}
